<ion-view title="Modificado " id="page8" style="background-color:#C73060;">
  <ion-content padding="true" class="has-header">
    <form id="modificado-form3" class="list">
      <ion-item class="item-thumbnail-left" id="modificado-list-item35">
        <h2>Foto</h2>
      </ion-item>
      <label class="item item-input" id="modificado-textarea2" name="Nomrbe">
        <span class="input-label"></span><textarea placeholder="Nombre"></textarea></label>
      <label class="item item-input" id="modificado-textarea3">
        <span class="input-label"></span><textarea placeholder="Apellido"></textarea></label>
      <label class="item item-input" id="modificado-textarea4">
        <span class="input-label"></span><textarea placeholder="Telefono Celular"></textarea></label>
      <label class="item item-input" id="modificado-textarea5">
        <span class="input-label"></span><textarea placeholder="Telefono Fijo"></textarea></label>
    </form>
    <button id="modificado-button9" class="button button-positive button-block">Modificar</button>
  </ion-content>
</ion-view>