<ion-view title="Pedidos" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pedidos-card21">
      <ion-item class="item-avatar" id="pedidos-list-item10">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="pedidos-list-item-container2">
        <div id="pedidos-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="pedidos-list-item11">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <ion-list id="pedidos-list4">
      <label class="item item-select" id="pedidos-select4">
        <span class="input-label">Quilmes 1L</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select1">
        <span class="input-label">Cerveza Quilmes 355ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select2">
        <span class="input-label">Cerveza Bhrama 355ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select3">
        <span class="input-label">Cerveza Heineken 355ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select5">
        <span class="input-label">Wiskey Chivas</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select6">
        <span class="input-label">Vino Latitud 33 950ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select7">
        <span class="input-label">Cerveza Corona 355ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-left" id="pedidos-list-item23">
        <h2>Item</h2>
      </ion-item>
      <ion-radio id="pedidos-radio1" name="asds">Radio</ion-radio>
      <label class="item item-select" id="pedidos-select8">
        <span class="input-label">Cerveza Corona 355ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
      <label class="item item-select" id="pedidos-select9">
        <span class="input-label">Cerveza Corona 355ml</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>